.main_content {
  background-color: #FAF3EB;
  height: auto;
  padding-bottom: 30px;
  font-family: 'Comfortaa', cursive;
}

ul {
  list-style-image: url('../images/coffee/pngwing.com (3)1.png');

}

.background_img {
  width: 20%;
}
